body {
    margin: 0;
    padding: 0;
}

h1{
    display: flex;
    justify-content: center;
}
.newList{
    display: flex;
    justify-content: space-around;
}
#createNewList{
    background-color: #333;
    color: #f2f2f2;
    width: 70%;
    text-align: center;
}
#createNewList.active{
    display:flex;
    text-align: left;
}
.newItem{
    display: none;
    justify-content: space-around;
}
#createNewItem{
    background-color: lightgray;
    color: black;
    width: 70%;
    text-align: left;
}
.newItem.active{
    display: flex;
    justify-content: space-around;
    visibility: visible;
}
.allergyDisplay{
    background-color: #ffffff;
    overflow: auto;
    white-space: nowrap;
    width: 900px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    align-items: center;
    border: solid;
}
div.allergyDisplay li{
    display: inline-block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 6px;
    text-decoration: none;
    border: solid;
    border-radius: 20px;
    border-color: black;
    transition: all 0.3s ease-in-out;
}


/* div.allergyDisplay li:hover{
    background-color: #777;
    cursor: default;
    border-color: rgb(255, 174, 0);
} */
.currentItems{
    visibility: hidden;
}
.currentItems.active{
    background-color: lightgray;
    color: black;
    width: 70%;
    margin: 0 auto;
    text-align: left;
    margin-top: 0;
    padding-top: 0;
    visibility: visible;
} 
.currentItems ul {
    padding-left: 0; 
    margin-top: 0;
    padding-top: 0;
}
.currentItems li {
    background-color: lightgray;
    list-style-type: none; 
    text-align: left
}  