/* General Styles */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f8f8;
    margin: 0;
}

/* Heading Styles */
h1 {
    font-size: 50px;
    font-weight: bold;
}

/* Fade-in effect for container */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}




label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}


input[type="text"] {
    display: block;
    width: 90%;
    padding: 10px;
    margin: 10px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    border-color: black;
    transition: all 0.3s ease;
}

input:focus, button:hover {
    transform: scale(1.05);
}


button {
    padding: 8px 16px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: grey;
}

#result {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#result h2 {
    margin-top: 0;
    color: black;
    font-size: 20px;
    margin-bottom: 20px;
}
#productName, #ingredients {
    font-weight: normal;
    color: #555;
}
#productImage {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 4px;
}
.no-image {
    color: #888;
    font-style: italic;
}
#camera video {
    width: 100%;
    max-width: 640px;
    justify-content: center;
    align-items: center;
    background-color: black; /* Background to make it visually distinct */
    border-radius: 10px; /* Rounded corners for a modern look */
    overflow: hidden;
    margin: 20px auto; /* Center it horizontally */

    

}
.hidden {
    display: none;
}

.main{
    margin-left: 10px;
}