/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header Styles */
h1 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

h2 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

/* Container Styles */
.dropdown-container {
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 500px;
    margin: 20px auto;
}

/* Dropdown Styles */
.dropdown {
    cursor: pointer;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 5px;
    margin-bottom: 10px;
}

.caret {
    margin-right: 5px;
}

.options {
    display: none;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
}

.options ul {
    list-style-type: none;
    padding: 0;
}

.options li {
    padding: 5px 0;
}

/* Divider */
.divider {
    border: none;
    border-top: 1px solid #ccc;
    margin: 15px 0;
}

/* Scan Button */
.scan-button-container {
    text-align: center;
    margin: 20px 0;
}

.scan-button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.scan-button:hover {
    background-color: grey;
}

/* Bottom Navigation */
.bottom-nav {
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.nav-item {
    text-decoration: none;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-item i {
    font-size: 20px;
    margin-bottom: 5px;
}

.nav-item span {
    font-size: 12px;
}

/* Navbar */
.navbar {
    background-color: #f1f1f1;
    padding: 10px 0;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

.navbar a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .dropdown-container {
        width: 95%;
    }

    .bottom-nav {
        padding: 5px 0;
    }

    .nav-item i {
        font-size: 18px;
    }

    .nav-item span {
        font-size: 10px;
    }
}
